{% assign company = response.legal_entity %}

<fieldset
    data-toggle-target="account-type"
    data-toggle-content="company"
    class="company {% if response.business_type  != 'company' %}collapse{% endif %}"
    {% if response.business_type  != 'company'  %}disabled{% endif %}>
  <div class="col-12 pt-3 bg-white mb-4 px-0">
    <div class="row">
      <div class="col-10 col-md-11">
        <h5 class="card-title">Company Details:</h5>
        <hr>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-7">
        {% include text_field with "business_name", value: company.business_name, required: true %}
      </div>
      <div class="form-group col-md-7">
        {% include text_field with "phone", value: company.phone_number, required: true %}
      </div>
      <div class="form-group col-md-7">
        {% if company.business_tax_id_provided %}
          {% assign tax_placeholder = 'Provided' %}
          {% assign tax_disabled = true %}
        {% endif %}
        {% include text_field with "tax_id", value: company.tax_id, placeholder: tax_placeholder, disabled: tax_disabled, required: true, country_iso: response.country  %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-7">
        {% include text_field with "address" value: company.address.line1, required: true %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-7">
        {% include text_field with "city", value: company.address.city, required: true  %}
      </div>
      <div class="form-group col-md-7">
        {% include text_field with "state", value: company.address.state, required: true %}
      </div>
      <div class="form-group col-md-7">
        {% include text_field with "zip", value: company.address.postal_code, required: true %}
      </div>
    </div>
  </div>
</fieldset>
