<div class="col-12 pt-3 bg-white mb-4 px-0">
  {% if account.persons.first != blank %}
    {% include 'modules/stripe/account/person' with account.persons %}
  {% else %}
    {%- include 'modules/stripe/account/person' -%}
  {% endif %}
</div>

